
.student{
  border: 1px #cecece solid;
  padding: 10px;
  margin: 10px 0;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  position: relative;

  p{
    margin: 0;
  }

  .close{
    position: absolute;
    margin-top: -10px;
    top: 50%;
    right: 10px;
    cursor: pointer;
    background: #F44336;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #000;
  }
}

.student.selected{
  background-color: #607d8b;
  color: #fff;
}


