
<h3>学生信息列表:</h3>
<div>
  请选择一种颜色：  
  <ng-container *ngFor="let radio of radioes" >  
    <input type="radio" (click)="handleChooseColor(radio)" [checked]="radio.color===color" /> {{ radio.color }}
  </ng-container>
</div>
<ul>
  <student-item
    *ngFor = "let student of students$ | async; let i = index; trackBy: trackByStudentId"
    [student] = "student"
    [numberIndex] = "i"
    [selectedId] = "selectedId"
    [color] = "color"
    [fontSize] = "fontSize"
    (onDelete)="handleDeleteStudent($event, i)"
  >
  </student-item>
</ul>  
<div>
  <input name="studentName" [(ngModel)]="studentName" />
  <button (click)="handleAddStudent()">添加</button>
</div>
<div><button (click)="handleRemoveLast()">删除最后一个</button></div>